<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="GridWidth" value="12" />
		<add key="GridHeight" value="22" />
		<add key="StandardBlockHeight" value="1.0"/>
		<add key="StandardBlockWidth" value="1.0"/>
		<add key="BlocksPerTetrominoCount" value="4"/>
		<add key="PreviewWindowWidth" value="3"/>
		<add key="PreviewWindowHeight" value="4"/>
		<add key="PreviewWindowOriginX" value="1"/>
		<add key="PreviewWindowOriginY" value="2"/>
		<add key="LockTimerFallingFrameCount" value="8"/>
		<add key="LockTimerStationaryFrameCount" value="2"/>
		<add key="ScoreScale" value="15"/>
		<add key="ScoreLineMultiplier" value="1.05"/>
		<add key="FrameIntervalDefault" value="1000"/>
	</appSettings>
</configuration>