.section-layout {
   padding: 1em;
   height: 100%;
   overflow-y: auto;
   display: flex;
   flex-direction: column;
   gap: 1em;

   scrollbar-color: var(--twa-scrollbar-thumb) var(--twa-scrollbar-gutter);
   scrollbar-width: thin;
}

.section-layout-header {
   user-select: none;
   cursor: default;
   font-size: 3em;
   color: var(--twa-text);
}
