<h4>Theme Options</h4>
<div class="vertical-section">
   <div class="section">
      <twa-button (clicked)="onToggleColorScheme()" cssClass="secondary">
         Switch To {{ oppositeColorScheme() }}
      </twa-button>
   </div>
   <div class="section">
      @for (theme of themes; track theme) {
         <twa-button (clicked)="onThemeChange(theme)" [cssClass]="{ secondary: selectedTheme() !== theme }">
            {{ theme }} Theme
         </twa-button>
      }
   </div>
</div>

<h4>Examples</h4>
<div class="section">
   <input type="text" ngModel />
   <twa-icon icon="widget_medium"></twa-icon>
   <twa-icon icon="star" clickable (clicked)="onIconClicked()"></twa-icon>
</div>
