@use 'colors';

:host {
   @include colors.define-themes();

   display: flex;
   flex-direction: column;
   gap: 1em;
   align-items: center;
   justify-content: center;

   width: 100%;
   height: 100%;
}

%section-base {
   display: flex;
   flex-wrap: wrap;
   gap: 1em;
   align-items: center;
   justify-content: center;
}

.section {
   @extend %section-base;
}

.vertical-section {
   @extend %section-base;
   flex-direction: column;
}

input {
   background-color: var(--twa-input-background);
   color: var(--twa-input-text);
   border: 1px solid var(--twa-input-border);
   padding: 0.5em;
   border-radius: 4px;
}

h4 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: var(--twa-text);
}
