.section-menu-button {
   width: 100%;
   --twa-button-shadow: unset;
}

.section-menu-item-text {
   width: inherit;
   text-align: left;
}

.subsections {
   border-left: 1px solid var(--twa-divider);
   margin-left: 1em;
   padding-left: 0.25em;
}
